# Ortak hassas dosyalar
.env
.env.example
.env.local
.env.*.local

# Laravel Klasörleri ve Dosyaları
/node_modules
/vendor
/.phpunit.result.cache
/storage/*.key
/public/storage
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/public/assets/images/
/.vscode
